name: Release Obsidian plugin

on:
    push:
        tags:
            - "*"
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v3

            - name: Use Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: "22.x"

            - name: Build plugin
              run: |
                  npm install
                  npm run release

            - name: Create release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  tag="${GITHUB_REF#refs/tags/}"
                  
                  gh release create "$tag" \
                    --title="$tag" \
                    dist/*
